*{
    font-family: Roboto, Tahoma, sans-serif;
}

.section-one{
    display:flex;
    justify-content: space-between;
    gap:10px;
}

.header-logo{
    font-size: 24px;
    color: #f9f9f9;
}

.links{
    display:flex;
    gap: 20px;
}

.section-two{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.section-two-left{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-one, .section-two{
    background-color:#1f2937;
}

.section-two-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight:900;
}

.links, .section-two-text{
    font-size: 18px;
    color:#f9faf8;
}

.section-two-button{
    margin-right:auto;
    background-color:#3882f6;
    color:#f9faf8;
}

.section-two-pic{
    padding-top:30px;
    padding-right:50px;
    padding-bottom:30px;
}

.section-three{
    display:flex;
    flex-direction: column;
    padding-top:10px;
}

.section-three-title{
    display:flex;
    font-size: 36px;
    color:#1f2937;
    font-weight:900;
    justify-content: center;
    padding-bottom:20px;
    padding-top:10px;
}

.section-three-body{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
}

.section-three-first, .section-three-second, .section-three-third, .section-three-fourth, .section-three-fifth{
    display:flex;
    flex-direction:column;
    gap:20px;
    max-width: 200px;
    
}

.section-three-first-pic, .section-three-second-pic, .section-three-third-pic, .section-three-fourth-pic, .section-three-fifth-pic{
    display:flex;
    justify-content: center;
    border-style:solid;
    border-color:#37241f;
}

.section-four{
    display:flex;
    flex-direction: column;
    background-color:#e5e7eb;
    padding-bottom:10px;
}

.section-four-quote{
    font:36px;
    font-style:italic;
    color:#1f2937;
    display:flex;
    justify-content: center;
}

.section-four-name{
    display:flex;
    justify-content: center;
}

.section-five{
    display:flex;
    background-color: #3882f6;
    justify-content: space-around;
    padding:20px;
}

.section-five-left{
    display:flex;
    flex-direction: column;
}

.section-five-main{
    font-weight:bold;
    font-size:large;
}

.section-five-button{
    background-color:#3882f6;
}

.section-six{
    display:flex;
    background-color:#1f2937;
    justify-content: center;
    color:white;
}